.display{
    grid-column: span 4;
    background-color: #0004;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 2em;
    padding: 0.5em;
    overflow: hidden;
}