body {
    background-color: black;
  
    text-align: center;

}
h1 { 
    color: gold;
    text-shadow: 0.7px  0 #fff;
}
ul {
    margin: 2em auto;
    line-height: 1.4em;
}

li { 
    width: 80%;
}
table { 
   
    border-color:  #08a1d4;
    margin: 1.1em auto;
}

tr { 
   
  
}
td { 
      
    
}
